
h2{
    
    font-size: 1.2rem;
    margin: 2%;
    position: absolute;
}
.divCarta{
    position: relative;
    width: 15%;
    height: 100%;
    max-height: 270px;
    display: flex;
    flex-flow: column nowrap;
    justify-content:baseline;
    border-radius: 1rem;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2%;
	background-color: #ffe121; 
    box-shadow: 0 0 20px 2px;
    z-index: 1;
    border-bottom: 2px solid rgb(210, 197, 197);
}
.curved {
    padding-top: 5%;

    border-radius: 1rem;
    position: relative;
    background: #2d6eae;
    border-bottom-left-radius: 50% 37%;
    border-bottom-right-radius: 50% 37%;
}
.buttonClose{
    position: absolute;
    background-color: rgba(237, 44, 44, 0.601);
    width: 20%;
    padding: 1%;
    display: flex;
    justify-content: center;
    border-radius: .5rem;
    margin-left: 74%;
    border: 0;
}
:hover.buttonClose{
    background-color: rgba(227, 25, 25, 0.931);

}
.btn_fav{
    width: 50px;
    z-index: 4;
    height: 30px;
}
.nombre{
   padding-left: 1%;
   color: #000000;
   font-size: 1.2rem;
   font-family: 'Pokemon Solid', sans-serif;
   margin-top: -20%;
   -webkit-text-stroke: .2px rgb(242, 242, 242);
}

.characterImg{
    border-radius: 1rem;
    width: 65%;
    margin-left: 7%;
    margin-top: 5%;
    margin-bottom: -20px;
}
.uno{
display: flex;
flex-flow: row nowrap;
justify-content: space-around;
font-family: 'Agdasima', sans-serif;

}
.cardInfo{
    display: flex;
   flex-flow: column;
   font-size: 1rem;
   font-family: 'Agdasima', sans-serif;
   margin-top: -5%;
}
.cardInfo .dos{
display: flex;
flex-flow: row nowrap;
justify-content: space-around;
}
.cardInfo .tres{
display: flex;
justify-content: center;
margin-bottom: 10%;
}

.habilidad{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    margin: 0%;
}
.habilidad p{
    margin: 0%;
}

.tipoText{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: antiquewhite;
    z-index: 2;
    display: flex;
    justify-content: center;
}



.default{
    background-color: #c11212b1;
    border: 2px solid white;
    border-bottom: none;

}
.grass{
    border: 2px solid rgb(177, 235, 206);
    border-bottom: none;

    background: rgb(32,164,15);
    background: linear-gradient(132deg, rgba(32,164,15,1) 8%, rgba(115,222,97,1) 30%, rgba(13,145,49,1) 96%);}
.water{

    border: 2px solid rgb(201, 219, 238);
    border-bottom: none;

    background: rgb(22,108,186);
    background: linear-gradient(132deg, rgba(22,108,186,1) 8%, rgba(42,182,255,1) 30%, rgba(30,137,249,1) 96%);}


.bug{
    border: 2px solid rgb(233, 236, 240);
    border-bottom: none;


    background: rgb(164,166,91);
background: linear-gradient(132deg, rgba(164,166,91,1) 8%, rgba(175,155,41,1) 30%, rgba(222,202,64,1) 96%);}
.fire{
    border: 2px solid rgb(241, 84, 48);
    border-bottom: none;
    background: rgb(186,63,22);
    background: linear-gradient(132deg, rgba(186,63,22,1) 8%, rgba(255,199,42,1) 30%, rgba(249,151,30,1) 96%);}
.poison{


    border: 2px solid rgb(230, 202, 230);
    border-bottom: none;

    background: rgb(74,43,154);
background: linear-gradient(132deg, rgba(74, 43, 154, 0.911) 8%, rgb(234, 78, 239) 30%, rgba(74, 43, 154, 0.976) 96%);
}
