h2{
    font-size: 1.2rem;
    margin: 2%;
    position: absolute;
}
.divCarta{
    position: relative;
    width: 15%;
    height: 100%;
    max-height: 270px;
    display: flex;
    flex-flow: column nowrap;
    justify-content:baseline;
    border-radius: 1rem;
    margin: 1%;
    padding-bottom: 1.5%;
	background-color: #ffe121; 
    box-shadow: 0 0 20px 2px;
    z-index: 1;
}
.curved {
    border-radius: 1rem;
    position: relative;
    background: #2d6eae;
    border-bottom-left-radius: 50% 37%;
    border-bottom-right-radius: 50% 37%;
}
.buttonClose{
    position: absolute;
    background-color: rgba(237, 44, 44, 0.601);
    width: 20%;
    padding: 1%;
    display: flex;
    justify-content: center;
    border-radius: .5rem;
    margin-left: 74%;
    border: 0;
}
:hover.buttonClose{
    background-color: rgba(227, 25, 25, 0.931);

}
.nombre{
   padding-left: 1%;
   color: #e4e6e5;
}

.characterImg{
    border-radius: 1rem;
    width: 100%;
    margin-bottom: -20px;
}
.cardInfo{
    display: flex;
   flex-flow: column;
   font-size: .9rem;
}
.cardInfo .uno{
display: flex;
flex-flow: row nowrap;
justify-content: space-around;

}
.cardInfo .dos{
display: flex;
flex-flow: row nowrap;
justify-content: space-around;
}
.cardInfo .tres{
display: flex;
justify-content: center;
margin-bottom: 10%;
}

.default{
    background-color: red;
}
.grass{
    background-color: #3f9054;
}
.water{
    background-color: #3ca6b6;
}
.bug{
    background-color: #c2b76f;
}
.fire{
    background-color: #ed571b;
}
.poison{
    background-color: #371c15;
}
/* 
.cardInfo{
    display:contents;
}


.btnsCard{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}
.buttonFav{
    position: absolute;
    width: 20%;
    background-color: rgba(240, 248, 255, 0);
    border: none;
}

.btn_img{
    width: 90%;
}
 */
