
.container{
    width: 97%;
    border-radius: 1rem;
    box-shadow: 0px 1px 10px 0px;
    display: flex;
    justify-content: space-around;
	background-color: #ffe121; 
    z-index: 3;
}

.containerLeft {
    width: 60%;
    display: flex;
    justify-content: center;
}
.containerLeft img{
    margin-top: -5%;
    margin-bottom: -5%;
    width: 50%;
    z-index: 2;
    transform: scale(.9);
}
.ContainerRight {
    display: flex;
    width: 50%;
}
