.container{
    display: flex;
    width: 100%;
    align-items: center;
}

/* lado input */

.buscador{
    width: 70%;
    display: flex;
}

.input{
    font-size: 1rem;
    border-radius: 2rem;
    padding: 2%;
    width: 50%;
    max-height: 50%;
}

.button_buscar {
    width: 10%;
    background-color: #ffffff00;
    border: none;
}
.button_buscar img{
    width: 100%;
}

/* Botonera */
.botonera{
    width: 28%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}
.botonera button{
	background-color: #ffe121; 
    border-radius: 1rem;
    margin: 10%;
    border: none;
    box-shadow: 0 0 10px 0;
}