.container{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Pokemon Solid', sans-serif;

}
.pError{
    color: red;
    font-family:Verdana;
    font-size: 1rem;
}
.inputs p {
    margin: -2%;

}
label{
    -webkit-text-stroke: .2px rgb(242, 242, 242);

}
.inputs{
    justify-content: center;
    font-size: 1.4rem;
    display: flex;
    flex-flow: column wrap;
}
.inputs input{
    border-radius: 10rem;
}

.formDos{
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
}


