.container{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Pokemon Solid', sans-serif;

}
h1{
    -webkit-text-stroke: .2px rgb(242, 242, 242);

}
.pError{
    color: red;
    font-family:Verdana;
    font-size: 1rem;
    display: flex;
    justify-content: start;
}
.inputs p {
    margin: 0%;

}
label{
    font-size: 1rem;
    -webkit-text-stroke: .2px rgb(242, 242, 242);

}
.inputs{
    justify-content: center;
    font-size: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.inputs input{
    border-radius: .3rem;
    font-size: 1.3rem;
}

.formDos{
    display: flex;
    flex-flow: row nowrap;
    width: 99%;
    align-self: center;
}

.formTres{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.formTres .tipo{
display: flex;
flex-flow: column wrap;
justify-content: center;
align-items: center;
}
.formTres .habilidad{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}


.btn_submit{
    width: 20%;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 1REM;
    margin-top: 1%;
    padding: 1%;
}
 